<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - NoteNinja</title>
    <link rel="stylesheet" href="~/css/homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
</head>
<body>
    <header>
        <div class="header-left">
            @if (User.Identity.IsAuthenticated)
            {
                <i class="fas fa-user-circle" id="account-icon"></i>
                <div class="account-menu" id="account-menu">
                    <ul>
                        <li><a href="/Account/Logout">Logout</a></li>
                    </ul>
                </div>
            }
            else
            {
                <a href="/Account/Login" class="header-button">Login</a>
                <a href="/Account/Register" class="header-button">Register</a>
            }
        </div>
        <h1>NoteNinja</h1>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        // Toggle account menu
        document.getElementById('account-icon')?.addEventListener('click', function() {
            var accountMenu = document.getElementById('account-menu');
            accountMenu.classList.toggle('show');
        });

        // Close the account menu if clicked outside
        window.addEventListener('click', function(event) {
            var accountMenu = document.getElementById('account-menu');
            if (event.target !== document.getElementById('account-icon') && !accountMenu.contains(event.target)) {
                accountMenu.classList.remove('show');
            }
        });
    </script>
</body>
</html>
